*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: top;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: "Preconnect", sans-serif;
    color: #212121;
    letter-spacing: 0.9px;
    font-weight: 400;
    font-size: 16px;
}

.white-text {
    color: var(--lavender);
}

:root {
    --darkgreen: #052825;
    --newcar: #2E4FD7;
    --lavender: #E7EBFC;
    --padding: 2%;
    --eerieblack: #191919;
    --darkgreen: #052825;
    --whitecolor: #FFFFFF;
    --eerieblack: #1A1A1A;
    --sonicsilver: #767676;
}

a {
    text-decoration: none;
    color: #191919;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.black-text {
    color: var(--eerieblack);
}

.bc-white {
    background-color: var(--whitecolor);
}

.bc-green {
    background-color: var(--darkgreen);
}

.main-single {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
}

.main-block1-single {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: var(--padding);
}

.main-block1-single-block1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-block1-single-block1 h2 {
    font-size: 64px;
    font-weight: 700;
    line-height: 72px;
    padding-right: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main-block1-single-block1 p {
    font-size: 24px;
    line-height: 34px;
    font-style: oblique;
    padding-right: 15%;
    padding-top: 2.4%;
}

.main-block1-single-block2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 3.4%;
}

.main-block1-single-block2-img img {
    width: 90px;
    height: 90px;
    border-radius: 90%;
    object-fit: cover;
    background-color: #E7EBFC;

}

.main-block1-single-block2-description {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 295px;
}

.main-block1-single-block2-descriptions {
    padding-left: 10%;
}

.main-block1-single-block2-descriptions h2 {
    font-size: 18px;
    line-height: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
}

.main-block1-single-block2-descriptions p {
    font-size: 16px;
    line-height: 26px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 3%;
}

.main-block1-single-button :hover {
    background-color: #212121;
    color: #2E4FD7;
}

.main-block1-single-button button {
    width: 262px;
    height: 56px;
    background-color: #2E4FD7;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.6s;
    margin-top: 30%;
}

.main-block2-all {
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

}

.main-block2-all-text {
    font-size: 52px;
    line-height: 62px;
    font-weight: 700;
    text-align: center;
}

.main-block2-all-block2 {
    padding-top: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1%;
}

.main-block2-all-description {
    margin-top: 3%;
    width: 350px;
    background-color: var(--whitecolor);
    padding: var(--padding);
}

.main-block2-all-descriptions {
    width: 286px;
    padding-top: 15%;
}

.main-block2-all-descriptions h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    color: var(--eerieblack);
}

.main-block2-all-descriptions p {
    width: 301px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: var(--eerieblack);
    padding-top: 4%;
}

.main-block1-single-block2-descriptions-a {
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    padding-top: 16%;
}

.main-block1-single-block2-descriptions-a a {
    color: var(--newcar);
}

.main-block2-all-block2-button {
    margin-top: 7%;
    border: 1px solid;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    transition: 0.4s;
}

.main-block2-all-block2-button button {
    width: 168px;
    height: 56px;
    transition: 0.4s;
    color: var(--whitecolor);
    background: var(--darkgreen);
    cursor: pointer;
}

.main-block2-all-block2-button :hover {
    background-color: var(--eerieblack);
    color: var(--newcar);
}

.main-block3-all1 {
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.main-block3-all1 h2 {
    color: var(--eerieblack);
}

.main-block3-all-text {
    font-size: 52px;
    line-height: 62px;
    font-weight: 700;
}

.main-block3-all-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-block3-all-block1 {
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.main-block3-all-descriptions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.main-block3-all-img {
    border-radius: 90px;
    background-color: var(--lavender);
}

.main-block3-all-img img {
    width: 72px;
    height: 72px;
    padding: 33%;
}

.main-block3-all-description-block {
    padding-left: 2%;
}

.main-block3-all-description-block h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    color: var(--eerieblack);
}

.main-block3-all-description-block p {
    padding-top: 2%;
    font-size: 16px;
    line-height: 26px;
    color: var(--eerieblack);

}

.main-block3-all-block2 {
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.main-block4-all {
    padding: var(--padding);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.main-block4-all-block1 {
    padding: var(--padding);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
    justify-content: center;
}

.main-block4-all-block2 {
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.main-block4-all-description h2 {
    font-size: 42px;
    line-height: 52px;
    font-weight: 400;
    color: var(--eerieblack);
}

.main-block4-all-descriptions {
    padding-top: 9%;
}

.main-block4-all-descriptions h2 {
    padding-top: 2%;
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    color: var(--eerieblack);
}

.main-block4-all-descriptions p {
    padding-top: 2%;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: var(--sonicsilver);
}

.main-block4-all-left-button button {
    width: 65px;
    height: 65px;
    border-radius: 90px;
    font-size: 32px;
    cursor: pointer;
    transition: 0.4s;
}

.main-block4-all-left-button :hover {
    background-color: var(--newcar);
    color: var(--whitecolor);
}

.main-block4-all-right-button button {
    width: 65px;
    height: 65px;
    border-radius: 90px;
    font-size: 32px;
    cursor: pointer;
    transition: 0.4s;
}

.main-block4-all-right-button :hover {
    background-color: var(--newcar);
    color: var(--whitecolor);
}

.main-block5-all {
    padding: var(--padding);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-block5-all-left h2 {
    font-size: 42px;
    line-height: 52px;
    font-weight: 700;
    color: var(--eerieblack);
}

.main-block5-all-left p {
    padding-top: 2%;
    font-size: 18px;
    width: 350px;
    line-height: 28px;
    font-weight: 400;
    color: var(--eerieblack);
}

.main-block5-all-right {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.main-block5-all-right {
    padding-left: 8%;
}

.main-block5-all-right img {
    padding: 4%;
}

.main-block6-all {
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.main-block6-all-text h2 {
    font-size: 52px;
    line-height: 62px;
    font-weight: 700;
    color: var(--eerieblack);

}

.main-block6-all-photo {
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2%;
}

.main-block6-all-photo-blocks{
    padding-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-block6-all-photo-blocks h2 {
    padding-top: 9%;
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    color: var(--eerieblack);
}

.main-block6-all-photo-blocks p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: var(--eerieblack);
}

.main-block6-all-button{
    padding-top: 5%;
    width: 115px;
}

.main-block6-all-button button {
    width: 32px;
    height: 32px;
    border-radius: 90px;
    margin: 1%;
    cursor: pointer;
    transition: 0.3s;
}

.main-block6-all-button :hover{
    opacity: 0.6;
}