*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: top;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: "Preconnect", sans-serif;
    color: #212121;
    letter-spacing: 0.9px;
    font-weight: 400;
    font-size: 16px;
}


a {
    text-decoration: none;
    color: #191919;
}

.main-home2 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    background-color: #052825;
    color: #FFFFFF;
}

.main-home2-block1 {
    display: flex;
    flex-direction: row;
    margin: 70px;
    align-items: stretch;
    margin-right: 10px;
    justify-content: center;
    width: 1148px;
    margin-left: auto;
}

.main-home2-descriptions1 p {
    padding-top: 20px;
    font-size: 20px;
    line-height: 30px;
    width: 486px;
    color: #FFFFFF;
}

.main-home2-description1 {
    width: 635px;
}

.main-home2-description1 h1 {
    font-size: 64px;
    line-height: 73px;
    font-family: Inter;
    font-weight: 600;
    color: #191919;
    letter-spacing: -1.16px;
    padding-right: 140px;
    color: #FFFFFF;

}

.main-home2-description1-text2 {
    display: flex;
    flex-direction: row;
}

.main-home2-description1-text2 button {
    background-color: #2E4FD7;
    height: 56px;
    width: 198px;
    color: #FFFFFF;
    font-size: 16px;
    margin-top: 45px;
    transition: 0.3s;

}

.main-home2-button :hover {
    cursor: pointer;
    background-color: #191919;
    color: #0000CC;

}

.main-home2-description1-text2 p {
    padding-left: 30px;
    line-height: 25px;
    color: #1E1E1E;
    width: 310px;
    padding-top: 50px;
    font-size: 16px;
    padding-right: 40px;
    color: #FFFFFF;
}

.main-home2-description1-logo1 {
    margin-top: 90px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 403px;
    height: 30px;
}

.main-home2-description1-logo1 img {
    padding-right: 20px;
}

.main-home2-block2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 70px;
    height: 600px;

}

.main-home2-block2-left-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
    flex-wrap: wrap;
    width: 555px;
    padding-top: 70px;
    margin-right: 60px;
}

.main-home2-block2-description1 h2 {
    font-size: 42px;
    line-height: 52px;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #FFFFFF;

}

.main-home2-block2-description1 p {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 30px;
    font-weight: 400;
    color: #FFFFFF;
    padding-top: 10px;
}

.main-home2-block2-description2 {
    display: flex;
    flex-direction: row;
    padding-top: 25px;
    padding-right: 15px;
}

.main-home2-block2-descriptions2 {
    width: 270px;
}

.main-home2-block2-descriptions2 h2 {
    font-size: 72px;
    font-weight: 700;
    color: #FFFFFF;
}

.main-home2-block2-descriptions2 p {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #FFFFFF;
    width: 223px;
    padding: 10px;
    line-height: 24px;
}

.main-home2-block2-right-block img {
    height: 315px;
    padding-right: 15px;
}

.main-home2-block3 {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}

.main-home2-block3-text {
    font-size: 52px;
    line-height: 62px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    color: #FFFFFF;
    width: 580px;
}

.main-home2-block3-description {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: flex-start;
    padding-right: 250px;
    margin-left: 40px;
    padding-top: 80px;
}

.main-home2-block3-descriptions img {
    width: 40px;
    height: 40px;
}

.main-home2-block3-descriptions {
    width: 255px;
    height: 213px;
}

.main-home2-block3-descriptions h2 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #FFFFFF;
    padding-top: 20px;
}

.main-home2-block3-descriptions p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #FFFFFF;
    padding-top: 15px;
}

.main-home2-block4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E7EBFC;
    height: 600px;
    width: 1100px;
    padding-left: 100px;
    margin-top: 5%;
}

.main-home2-block4-block1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-top: 50px;
}

.main-home2-block4-block1 h2 {
    font-size: 42px;
    font-weight: 700;
    line-height: 52px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #191919;
}

.main-home2-block4-block1 p {
    font-size: 42px;
    color: #1E1E1E;
    line-height: 52px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    width: 588px;
    padding-top: 40px;
    color: #1E1E1E;
}

.main-home2-block4-block1_2 {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.main-home2-block4-block1_2 a {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: #2E4FD7;
}

.main-home2-block5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin-top: 5%;
}

.main-home2-block5-text {
    font-size: 42px;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 52px;
    color: #FFFFFF;
    width: 730px;
    padding-left: 30px;
}

.main-home2-block5-description {
    display: flex;
    margin: 20px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: stretch;
    gap: 2%;
}

.main-home2-block5-descriptions {
    height: 210px;
    padding-left: 20px;
}

.main-home2-block5-descriptions h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #FFFFFF;
    padding-top: 20px;
}

.main-home2-block5-descriptions p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #FFFFFF;
    padding-top: 10px;
}

.main-home2-block5-descriptions img {
    width: 252px;
    height: 72px;
}