*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: top;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: "Preconnect", sans-serif;
    color: #212121;
    letter-spacing: 0.9px;
    font-weight: 400;
    font-size: 16px;
}

:root {
    --darkgreen: #052825;
    --newcar: #2E4FD7;
    --lavender: #E7EBFC;
    --padding: 2%;
    --eerieblack: #191919;
}

a {
    text-decoration: none;
    color: #191919;
}

.newcar {
    background-color: var(--newcar);
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.section1-single {
    background-color: #E7EBFC;
}

.main-single {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
}

.main-block1-single {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: var(--padding);
}

.main-block1-single-block1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-block1-single-block1 h2 {
    font-size: 64px;
    font-weight: 700;
    line-height: 72px;
    padding-right: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #191919;
}

.main-block1-single-block1 p {
    font-size: 24px;
    line-height: 34px;
    font-style: oblique;
    color: #000000;
    padding-right: 15%;
    padding-top: 2.4%;
}

.main-block1-single-block2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 3.4%;
}

.main-block1-single-block2-img img {
    width: 90px;
    height: 90px;
    border-radius: 90%;
    object-fit: cover;
    background-color: #E7EBFC;

}

.main-block1-single-block2-description {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 295px;
}

.main-block1-single-block2-descriptions {
    padding-left: 10%;
    color: #000000;
}

.main-block1-single-block2-descriptions h2 {
    font-size: 18px;
    line-height: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
}

.main-block1-single-block2-descriptions p {
    font-size: 16px;
    line-height: 26px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 3%;
}

.main-block1-single-button :hover {
    background-color: #212121;
    color: #2E4FD7;
}

.main-block1-single-button button {
    width: 262px;
    height: 56px;
    background-color: #2E4FD7;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.6s;
    margin-top: 30%;
}

.main-block2-single {
    background-color: #2E4FD7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    padding: var(--padding);
}


.main-block2-single-block1 h2 {
    font-size: 42px;
    font-weight: 700px;
    line-height: 52px;
    color: #FFFFFF;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.main-block2-single-block1 p {
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 3%;
    text-align: center;
}

.main-block2-single-block2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding-top: 4%;
}

.main-block1-single-block2-descriptions2 {
    width: 255px;
    border-right: solid 1px #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-block1-single-block2-descriptions2 h2 {
    font-size: 52px;
    font-weight: 700;
    line-height: 62px;
    color: #FFFFFF;
    font-family: inherit;
}

.main-block1-single-block2-descriptions2 p {
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
}

.iframe2 {
    height: 500px;
    width: 400px;
}

.main-block3-single {
    padding: var(--padding);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
}

.main-block3-single-block2 {
    padding-left: 3%;
}

.main-block3-single-block2-description1 h2 {
    font-size: 52px;
    font-weight: 700;
    color: var(--eerieblack);
}

.main-block3-single-block2-description1 p {
    font-size: 20px;
    font-weight: 400px;
    color: #1E1E1E;
    padding-top: 4%;
    line-height: 30px;
    text-align: left;
}

.main-block3-single-block2-description2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-top: 6%;
}

.main-block3-single-block2-description2 img {
    border: solid 1px #000000;
    border-radius: 90px;
    padding: var(--padding);
    cursor: pointer;
}

.main-block3-single-block2-description2 h2 {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: var(--eerieblack);
    padding-left: 2%;
}

.main-block4-single {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    padding: var(--padding);
}

.main-block4-single-left-description img {
    height: 44px;
    width: 44px;
    color: var(--eerieblack);
}

.main-block4-single-left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    gap: 10%;
}

.main-block4-single-left-description {
    display: flex;
    width: 255px;
    flex-direction: column
}

.main-block4-single-left-description h2 {
    color: var(--eerieblack);
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    padding-top: 4%;
}

.main-block4-single-left-description p {
    color: var(--eerieblack);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 3%;
}

.main-block5-single {
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.main-block5-single-descriptions1 {
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    color: var(--newcar);
}

.main-block5-single-descriptions2 {
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.main-block5-single-descriptions2 h2 {
    font-size: 42px;
    line-height: 52px;
    font-weight: 700;
    width: 790px;
    color: var(--eerieblack);
}

.main-block5-single-button {
    margin-left: 15%;
    display: flex;
    gap: 10%;
    width: 150px;

}

.main-block5-single-descriptions2 button {
    width: 65px;
    height: 65px;
    background-color: var(--lavender);
    font-size: 35px;
    border-radius: 90px;
    cursor: pointer;
    transition: 0.5s;
}

.main-block5-single-button :hover {
    background-color: var(--newcar);
    border-radius: 90px;
    color: var(--lavender);
}

.main-block5-single-picture {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2%;
}

.main-block5-single-pictures h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    color: var(--eerieblack);
    padding-top: 5%;
}

.main-block5-single-pictures p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: var(--eerieblack);
}

.main-block6-single {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    background-color: #E7EBFC;
    padding: var(--padding);
}

.main-block6-single-block1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.main-block6-single-block1 h2 {
    font-size: 42px;
    font-weight: 700;
    line-height: 52px;
    color: var(--eerieblack);
}

.main-block6-single-block1 p {
    font-size: 42px;
    font-weight: 400;
    line-height: 52px;
    color: var(--eerieblack);
    padding-right: 15%;
    padding-top: 4%;
}

.main-block6-single-images {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 6%;
}

.main-block6-single-images a {
    padding-top: 5%;
    color: var(--newcar);
}

.main-block7-single {
    padding: var(--padding);
    display: flex;
    flex-direction: column;
}

.main-block7-single-text {
    font-size: 42px;
    line-height: 52px;
    font-weight: 700;
    color: var(--eerieblack);
    text-align: center;
}

.main-block7-single-description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 4%;
    gap: 7%;
}

.main-block7-single-descriptions h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    color: var(--eerieblack);
    text-align: center;
    padding-top: 5%;
}

.main-block7-single-descriptions p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: var(--eerieblack);
    width: 318px;

}

.main-block7-single-descriptions img {
    padding-left: 17%;
}