*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: top;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Preconnect", sans-serif;
  color: #212121;
  letter-spacing: 0.9px;
  font-weight: 400;
  font-size: 16px;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
  color: #191919;
}

.header-pos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  padding-top: 3%;
  padding-bottom: 3%;
}

.header-left-block {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.header-description {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  gap: 60px;
  padding-left: 100px;
  transition: 0.3s;
}

.header-descriptions :hover {
  color: #2E4FD7;
  text-shadow: 4px 4px 4px #2E4FD7;
}

.header-descriptions {
  font-size: 17px;
  color: #1E1E1E;
  font-weight: 3px;
}

.header-right-text button {
  background-color: #2E4FD7;
  height: 35px;
  width: 172px;
  bottom: 5px;
  text-align: center;
  color: #FFFFFF;
  font-size: 15px;
  border-radius: 1px;
  margin-top: 2px;
  cursor: pointer;
  margin-left: 190px;
  transition: 0.3s;
}

.header-right-text :hover {
  cursor: pointer;
  background-color: #191919;
  color: #FFFFFF;
}

.main-home {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: column;
}

.main-block1 {
  display: flex;
  flex-direction: row;
  margin: 4%;
  align-items: stretch;
  justify-content: center;
  margin-right: 1%;
  margin-left: auto;
}

.main-home-descriptions1 p {
  padding-top: 20px;
  font-size: 20px;
  line-height: 30px;
  width: 486px;
}

.main-home-description1 {
  width: 635px;
}

.main-home-description1 h1 {
  font-size: 64px;
  line-height: 73px;
  font-family: Inter;
  font-weight: 600;
  color: #191919;
  letter-spacing: -1.16px;
  padding-right: 140px;

}

.main-home-description1-text2 {
  display: flex;
  flex-direction: row;
}

.main-home-description1-text2 button {
  background-color: #2E4FD7;
  height: 56px;
  width: 198px;
  color: #FFFFFF;
  font-size: 16px;
  margin-top: 45px;
  transition: 0.3s;

}

.main-home-button :hover {
  cursor: pointer;
  background-color: #191919;
  color: #0000CC;

}

.main-home-description1-text2 p {
  padding-left: 30px;
  line-height: 25px;
  color: #1E1E1E;
  width: 310px;
  padding-top: 50px;
  font-size: 16px;
  padding-right: 40px;
}

.main-home-description1-logo1 {
  margin-top: 90px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 403px;
  height: 30px;
}

.main-home-description1-logo1 img {
  padding-right: 20px;
}


.main-block2 {
  display: flex;
  flex-direction: row;
  max-width: 1114px;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-items: stretch;

}

.main-block2-description1 {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 1114px;
  padding-right: 175px;

}

.main-block2-descriptions1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  width: 410px;


}

.main-block2-descriptions1 img {
  padding-right: 30px;
  padding-bottom: 40px;

}

.main-block2-description2 {
  padding-bottom: 30px;
  margin-right: 16px;
  width: 540px;
  height: 346px;
}

.main-block2-description2 h2 {
  color: #191919;
  font-size: 52px;
  line-height: 62px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 540px;
  height: 186px;
}

.main-block2-description2 p {
  font-size: 20px;
  color: #1E1E1E;
  line-height: 30px;
  padding-bottom: 80px;
  letter-spacing: -0.36px;
  width: 445px;
  height: 60px;
  padding-top: 15px;
}

.main-block2-descriptions1 h2 {
  font-size: 20px;
  color: #191919;
  padding-bottom: 20px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main-block2-descriptions1-text1 p {
  padding-right: 500px;
  line-height: 26px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  width: 850px;
}

.main-block2-button button {
  background-color: #2E4FD7;
  width: 213px;
  height: 56px;
  color: #FFFFFF;
  font-size: 16px;
  margin-top: 40px;
  transition: 0.3s;
}

.main-block2-button :hover {
  cursor: pointer;
  background-color: #191919;
  color: #0000CC;
}

.main-block3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  height: 600px;

}

.main-block3-text1 h2 {
  font-size: 52px;
  font-weight: 700;
  width: 1100px;
  line-height: 62px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #18191F;
  font-style: normal;
  height: 62px;
}

.main-block3-all {
  display: flex;
  gap: 30px;
  padding-top: 3%;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

}

.main-block3-description {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;

}

.main-block3-description-photo {
  width: 72px;
  height: 72px;
  border-radius: 100px;

}

.main-block3-descriptions {
  padding-left: 35px;
  width: 480px;
}

.main-block3-descriptions h2 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 700;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #18191F;
  font-style: normal;
}

.main-block3-descriptions p {
  size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  padding-top: 20px;
  color: #18191F;
  padding-right: 5px;
}


.main-block3-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.main-block3-description-photo {
  padding-right: 40px;
}


.main-block4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #E7EBFC;
  height: 600px;
  width: 1100px;
  padding-left: 100px;
}

.main-block4-block1 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-top: 50px;
}

.main-block4-block1 h2 {
  font-size: 42px;
  font-weight: 700;
  line-height: 52px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #191919;
}

.main-block4-block1 p {
  font-size: 42px;
  color: #1E1E1E;
  line-height: 52px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  width: 588px;
  padding-top: 40px;
  color: #1E1E1E;
}

.main-block4-block1_2 {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.main-block4-block1_2 a {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #2E4FD7;
}


.main-block5 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  height: 400px;
  width: 1110px;
}

.main-block5-name h2 {
  font-size: 42px;
  line-height: 52px;
  font-weight: 700;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #18191F;
  width: 730px;


}

.main-block5-description {
  margin-top: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  gap: 30px;

}

.main-block5-description h2 {
  font-size: 24px;
  font-weight: 700;
  color: #18191F;
  line-height: 34px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.main-block5-description p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

.main-block5-description-text {
  width: 250px;
}